<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonBlogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Inconsolata&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://studiouscdn.netlify.app/bundle/bootstrap.css">
    <style>
        body{
            font-family: 'Inconsolata', monospace;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>AnonBlogs</h1>
            <button onclick="location.href='/new'">Create Page</button>
            <button onclick="verify_access()">Access Page</button>
        </div>
    </div>
    <script>
        function verify_access(){
            let name = prompt("Enter your name");
            let key = prompt("Enter your key");
            location.href = "/verify?name=" + name + "&key=" + key;
        }
    </script>
</body>
</html>