<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonBlogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Inconsolata&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://studiouscdn.netlify.app/bundle/bootstrap.css">
    <style>
        body{
            font-family: 'Inconsolata', monospace;
        }
        .blog{
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>{{user['_id']}}</h1>
            <button onclick="location.href='/blog/new'">New Blog</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
        <div class="blogs mt-5">
            <h2>Your Blogs</h2>
            {% for blog in blogs %}
                <div class="blog">
                    <h4>{{blog.title}}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>